// bower:sass
// endbower

@import mixins
@import reset
@import helper
@import fonts

*,
*::after,
*::before
  @include box-sizing

html
  font-size: 62.5%
  overflow-x: hidden
  // overflow: hidden

body
  font-family: Georgia, serif
  color: $pf_text

img
  max-width: 100%

// general components
.container
  @include container

.section-title
  font-size: 70px
  font-size: 7rem

// section numbers
.section-number
  position: absolute
  bottom: -120px
  left: -10px
  font-family: $ubuntu-medium
  font-size: 340px
  font-size: 34rem
  letter-spacing: -22px
  text-transform: uppercase
  color: #fff

  &--welcome
    color: $pf_text
    left: auto
    right: -8px
    letter-spacing: -20px

  &--events
    color: $pf_yellow

  &--wwd
    left: auto
    right: 0

@import header
@import index/slider
@import index/welcome
@import index/events
@import index/wwd
@import index/testimonials
@import map
@import footer

// responsive
@import responsive
