// bower:sass
// endbower

@import mixins
@import reset
@import helper
@import fonts

*,
*::after,
*::before
  box-sizing: border-box

html
  font-size: 62.5%
  overflow-x: hidden
  &.btn-clicked
    position: fixed
    overflow: hidden

  // to check pixel perfect - uncomment one of this line (only one at the same time)
  // margin-left: 15px
  // overflow: hidden

body
  font-family: Georgia, serif
  color: $pf_text

img
  max-width: 100%

// general components
.container
  @include container

.section-title
  font-size: 70px
  font-size: 7rem

// section numbers
.section-number
  z-index: 1
  position: absolute
  bottom: -120px
  left: -10px
  font-family: $ubuntu-medium
  font-size: 340px
  font-size: 34rem
  letter-spacing: -22px
  text-transform: uppercase
  color: #fff
  text-shadow: -1px 1px 2px transparentize( #fff, 0.4 )

  &--welcome
    color: $pf_text
    left: auto
    right: -8px
    letter-spacing: -20px
    text-shadow: -1px -1px 2px transparentize( $pf_text, 0.4 )

  &--events
    color: $pf_yellow
    text-shadow: -1px -1px 2px transparentize( $pf_yellow, 0.4 )

  &--wwd
    left: auto
    right: 0

// button
.submit-button,
.more-button
  z-index: 0
  position: relative
  display: block
  text-align: center
  text-decoration: none
  background-color: $pf_yellow
  overflow: hidden
  color: #fff
  backface-visibility: hidden
  &::before
    content: ''
    z-index: -1
    display: block
    position: absolute
    top: 0
    left: 0
    width: inherit
    height: inherit
    background-color: #2A2D2E
    transform: translateX(-101%)
    transition: transform .2s ease-in
  &:hover, &:active, &:focus
    &::before
      transform: translateX(0)

// @todo: remove
// image effect
// .effect-image
//   position: relative

//   .fake-image
//     position: absolute
//     top: 0
//     left: 0
//     opacity: 0
//     display: block
//     border-radius: 100%
//     transform: scale(1.1)
//     transition: transform .2s ease
//     @include visibility-hidden

//   &:hover
//     .fake-image
//       opacity: 1
//       transform: scale(1)

// home page
@import header
@import index/slider
@import index/welcome
@import index/events
@import index/wwd
@import index/quality
@import index/testimonials
@import map
@import footer

// services page
@import services/wwd-list
@import services/fresh-block
@import services/offers

// blog page
@import blog/articles

// contacts page
@import contacts/form

// responsive
@import responsive
