//- includes/index/slider.jade
.slider-wrapper

  // section number
  //- @todo: refactor
  .container
    .section-number.section-number--slider 01

  // slider
  .slider

    nav.slider__nav(role='navigation')
      //- h3.hidden Poultry farm - slider navigation
      //- @todo: data-dir in js
      a.slider__arrow.slider__arrow--left(href='#' role='button' data-dir='prev')
      a.slider__arrow.slider__arrow--right(href='#' role='button' data-dir='next')

    .slider-container
      section
        //- h2.hidden Poultry farm - slides
        -var slides = [{index: 'first', title: 'You\'ll love our chicken', text: 'Vestibulum libero nisl porta vel scele'}, {index: 'second', title: 'Fresh from the farm', text: 'Vestibulum libero nisl porta vel scele'}, {index: 'third', title: 'Low fat protein rich eggs', text: 'Vestibulum libero nisl porta vel scele'}]
        for slide in slides
          .slider-item(class='#{ slide.index }')
            article
              .slider-item__content
                h2.slider-item__title= slide.title
                p.slider-item__text= slide.text
                //- @todo: background image in js
                //- .slider-item__image(role='image')
