//- includes/index/welcome.jade
// welcome section
.welcome-wrapper

  .welcome.container
    section
      .section-number.section-number--welcome 02

      h2.welcome__title.section-title Welcome

      .welcome-content
        article
          h3.welcome-content__title Duisac turpis. Integer rutrum ante
          p.welcome-content__text Mauris fermeum dictum magn. Sed loreet aliquam leote llus dolor dapibus eget elementum vel curs elfend elit. Aenean aucto. wisi et urna. Aliqat volutpat.
          p.welcome-content__text Duisac turpis. Integer rutrum ante eu lacuestilum libero nisl porta vel scelerieget malesuada at neqVivamus eget nibh. Etiam ursus leo vel metus. Nulla facil nec eroestibulum ante ipsu pharetra auue nec augentum. Donec ielit vel ipelit magnaec porta diam eu massa. Quise diam lorem interdum vitaapibus ac scelee vitae pedec eget tellus non erat lacinia ferme.
