//- index.jade
extends layouts/default

block googleMapsApi
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAQjSMVCSomUxbZ4w2X5JNu0dnWoFLTqmA')

//- h1 of the current page
block h1
  h1.hidden Home | Poultry farm

//- active link
block link
  -var active = 'home'

//- content of the page
block content
  include ./includes/header

  main(role='main')
    include ./includes/index/slider
    include ./includes/index/welcome
    include ./includes/index/events
    include ./includes/index/what-we-do
    include ./includes/index/quality
    include ./includes/index/testimonials

  include ./includes/map
  include ./includes/footer

block homeScripts
  script(src='scripts/slider.js')
  script(src='scripts/parallax.js')
  script(src='scripts/radial-progress-bar.js')

block mapScript
  script(src='scripts/map.js')
