extends layouts/default

block link
  -var active = 'services'

block content
  include ./includes/header.jade

  main(role='main')
    include ./includes/services/wwd-list.jade
    include ./includes/services/fresh-block.jade
    include ./includes/services/offers.jade

  include ./includes/footer.jade
