doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="application-name" content="Poultry farm")
    meta(name='description' content='Poultry farm - you will love our chicken')
    title Poultry farm

    //- conditionally include google maps api script
    block googleMapsApi

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

  body

    //- the website content
    block content

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/d3/d3.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/events.js')

    //- conditionally include scripts
    block homeScripts
    block mapScript
    block validation
    // endbuild
