doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description' content='Poultry farm - you will love our chicken')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Poultry farm

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAQjSMVCSomUxbZ4w2X5JNu0dnWoFLTqmA')

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

  body

    //- the website content
    block content

    // build:js scripts/vendor.js
    // bower:js
    //- script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/d3/d3.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    script(src='scripts/map.js')
    // endbuild
