doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description' content='Poultry farm - you will love our chicken')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Poultry farm

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

  body

    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
