//- includes/header.jade
block link

// header
.header-wrapper
  header.header.container
    //- @todo: separate titles for each page
    block h1
    h2.header__title
      a.header__title-link(href='/' title='Home') Poultry farm

    // mobile menu button
    button.mobile-menu-btn
      span.line(aria-hidden='true')

    // main menu
    nav.header__navigation(role='navigation')
      h2.hidden Main menu
      - var menu = { 'home': '/', 'services': '/services.html', 'blog': '/blog.html', 'contacts': '/contacts.html' }
      ul.header__menu-list
        each link, page in menu
          li.header__menu-item
            if active === page
              a.header__menu-link.active(href=link, title=page)= page
            else
              a.header__menu-link(href=link, title=page)= page

.push-block
