.slider-wrapper
  .slider
    nav.slider__nav
      a.slider__arrow.slider__arrow--left(href='#' role='button')
      a.slider__arrow.slider__arrow--right(href='#' role='button')
    section
      .section-number 01
      -var slides = [{title: 'You\'ll love our chicken', text: 'Vestibulum libero nisl porta vel scele', index: 'first'}, {title: 'Low fat protein rich eggs', text: 'Vestibulum libero nisl porta vel scele', index: 'second'}, {title: 'Fresh from the farm', text: 'Vestibulum libero nisl porta vel scele', index: 'third'}]
      for slide in slides
        .slider-item(class='#{ slide.index }')
          article
            .slider-item__content
              h2.slider-item__title= slide.title
              p.slider-item__text= slide.text



